project_name = "oficina-mecanica-fiap"
environment  = "dev"
aws_region   = "us-east-1"

vpc_cidr = "10.90.0.0/24"

# Preencha com o CIDR da VPC do EKS (repositório oficina-mecanica-infra-kubernetes)
# assim que ele existir, ou configure VPC peering entre as duas VPCs.
allowed_cidr_blocks = []

rds_instance_class       = "db.t4g.micro"
rds_allocated_storage    = 20
rds_max_allocated_storage = 100
rds_engine_version       = "16.3"
rds_database_name        = "oficina_mecanica"
rds_username             = "oficina"
rds_backup_retention_period = 7
rds_deletion_protection     = false
rds_skip_final_snapshot     = true
